.screen-height {
    height: 100vh;
}

.fxflex,
.fxrow,
.fxcol {
    display: flex;
}

.fxcol {
    flex-direction: column;
}

.fxrow {
    flex-direction: row;
}

.fxwrap {
    flex-wrap: wrap;
}

.fx-vertical-center {
    justify-content: center;
}

.fx-horizontal-center {
    align-items: center;
}
